body {
    background: #7289DA;
    margin: 2%;
    height: 0% !important;
}

#messages div.message {
    display: none;
}

.link {
    color: #7289da;
    text-decoration: underline;
    cursor: pointer;
}